<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >

    <div class="container my-3 ">
        <h2 class="m-3">Calorie Tracking App</h2>
        <div class="card col bg-light py-3 px-5">
            <form action="#" th:action="@{/showFood}" method="post" th:object="${query}" >
                <label for="queryString" class="form-label fs-5 p-1">Food Consumed</label>
                <input class="form-control mb-3" type="text" th:field="*{queryString}" placeholder="5 apples or 200g beef" required />
                <p class="fs-6">*Note: if weight is not entered, default is 100g</p>


                <div class="row justify-content-between mb-3 align-items-end">
                    <div class="col" th:object="${dayObj}">
                            <label class="form-label p-1 fs-5" for="date">Date</label>
                            <input type="date" class="form-control" id="date" autocomplete="off" th:field="*{day}" required/> 
                    </div>
                    <div class="col-lg col-md-12 align-items-end mt-3">
                        <div class="d-grid ">
                            <button class="btn btn-dark " type="submit">Search</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>